*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    padding: 30px 0;
}

 .calculadora{
    width: 400px;
    margin: 0 auto;
    background-color: rgb(0, 170, 51);
    padding: 20px;
 }

 .displayCalculadora{
    display:flex;
    justify-content: flex-end;
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    font: normal 4rem serif;
    margin-bottom: 20px;
    padding: 15px;
    overflow: hidden;

 }

 .botoesCalculadora{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
 }

 .calculadora button{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;

 }

 .calculadora button:hover{
    background-color: chartreuse;
    color: black;
 }